<form class="form-horizontal" action="/comment/<%=@comment.id%>/edit" method="post">
<fieldset>

<!-- Form Name -->
<h5>Edit your comment</h5>

<!-- Text input-->
<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="form-group">
    <label class="control-label" for="content"></label>
    <div class="col-md-6">
      <textarea class="form-control" cols="40" id="content" name="content" rows="6"><%=@comment.content%></textarea>
    </div>
  </div>
</div>
</fieldset>
<button id="submit" name="submit" class="btn btn-primary">Submit</button>
</form>
</br>
<form class="form-horizontal"  action="/comment/<%=@comment.id%>/delete" method="post">
  <fieldset>
    <input type="hidden" name="_method" value="delete">
    <button id="submit" name="submit" class="btn btn-primary">Delete</button>
  </fieldset>
</form>
