<%Helpers.current_user(session).dishes.distinct.each do |dish|%>
  <h5><%=dish.name%></h5>
  <%=dish.ingredients%></br>
  <%dish.comments.each do |comment|%>
    <%=comment.content%>
    <%if comment.user == Helpers.current_user(session)%>
      <a href="/comment/<%=comment.id%>/edit">Edit</a>
    <%end%>
    </br>
  <%end%>
<%end%>
