<h3>Upcoming Dinners</h3>
<%Dinner.all.each do |dinner|%>
  <a href="/dinner/<%=dinner.id%>"><%=dinner.date%></a></BR>
<%end%>

<h3>Upcoming and Past Reservations</h3>
<%Helpers.current_user(session).dinners.each do |dinner|%>
  <a href="/dinner/<%=dinner.id%>"><%=dinner.date%></a>
<%end%>
