<form class="form-horizontal" action="/dinner/new" method="post">
<fieldset>

<!-- Form Name -->
<legend>New Dinner</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Date</label>
  <div class="col-md-4">
  <input id="date" name="date" type="text" placeholder="MM/DD/YYYY" class="form-control input-md" required="">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="create"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Create Dinner</button>
  </div>
</div>

</fieldset>
</form>
