<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Sinatra Dinner Party</title>
  </head>
  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <%if Helpers.is_logged_in?(session)%>
              <li role="presentation"><a href="/dinner/home">Upcoming Dinners</a></li>
              <li role="presentation"><a href="/user/home">Reservations</a></li>
              <li role="presentation"><a href="#">Tasting Notes</a></li>
              <li role="presentation"><a href="/user/logout">Log Out</a></li>
            <%end%>
            <%if !Helpers.is_logged_in?(session)%>
              <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="/user/login">Log In</a></li>
              <li role="presentation"><a href="/user/new">Sign Up</a></li>
            <%end%>
          </ul>
        </nav>
      </div>

      <%=yield%>

      <nav class="navbar navbar-default  navbar-fixed-bottom" role="navigation">
      <div class="container text-center">
          <p class="navbar-text col-md-12 col-sm-12 col-xs-12">A Learn.co jam.</p>
      </div>
  </nav>

    </div> <!-- /container -->
  </body>
</html>
